@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=IBM+Plex+Serif:wght@700&display=swap');

html,
body {
  font-family: -apple-system, BlinkMacSystemFont,'IBM Plex Sans', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont,'IBM Plex Serif', serif;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
